canvas{
    border: 2px solid black
}
.footer{
    float: right;
    padding: 20px;
}

.botonreinicio{
    float: right;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}